.message {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.message div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message div p {
    margin-bottom: 5px;
    margin-top: 0;
}

.blurred {
    filter: blur(5px); /* Adjust the blur strength as needed */
    color: red; /* Makes text color transparent */
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.message-text {
    margin-left: 5px;
}

.timestamp {
    font-size: 12px;
}

.message-status {
    font-style: italic;
    font-size: 10px;
}

button {
    border: none;
    background: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
}